{% extends "nest_tasca/layout.html" %}

{% block body %}
  <h1>New Tasca</h1>

  <!-- <div class="container" -->
    <form action="{% url 'new_tasca' %}" method="post">
        {% csrf_token %}
        {{form}}
        <br>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  <!-- </div> -->

  {{message}}



{% endblock %}
