{% extends "nest_tasca/layout.html" %}

{% block body %}
  <h1>Edit Tasca</h1>

  <!-- <div class="container" -->
    <form action="{% url 'edit_tasca' %}" method="post">
        {% csrf_token %}
        {{form}}
        <input type="hidden" name="tasca_id" value="{{tasca_id}}">
        <br>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  <!-- </div> -->

{{message}}


{% endblock %}
