{% extends "nest_tasca/layout.html" %}



{% block body %}

    <h1>Tascas</h1>



      <form class = "sort_form" action="{% url 'sort_by_rating' %}" method="post">
        {% csrf_token %}
        <label for="sorts">Sort Rating in:</label>
        <select name="sort">
                <option value="1">Descending Order</option>
                <option value="0">Ascending Order</option>
        </select>

        <input class="btn btn-primary" type="submit" value="Submit">
      </form>




    <table class = "center" cellpadding="10" cellspacing ="20" border ="1">
      <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Address</th>
        <th>Rating</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for tasca in tascas %}
      <tr>
        <td>
          <img src="{{tasca.image_link}}" width="20"/>
        </td>
        <td>
          <a href="{% url 'see_tasca' tasca.id %}">{{tasca.name}}</a>
        </td>
        <td>{{tasca.address}}</td>
        <td>{{tasca.rating}}</td>
        <td>
          <a href="{% url 'edit_tasca_page' tasca.id %}">
            <button class="editbtn">Edit</button>
          </a>
        <td>
          <a href="{% url 'delete_tasca' tasca.id %}">
            <button class="deletebtn">Delete</button>
          </a>
      </tr>
      {% endfor %}
    </table>


    <div class="container">

      <a href="{% url 'create' %}">
        <button class="createbtn" >Create</button>
      </a>

      <a href="{% url 'index' %}">
        <button class="refreshbtn">Refresh</button>
      </a>

    </div>






{% endblock %}
