<!DOCTYPE html>
<html lang="en">
    <head>
      <style>
        .deletebtn{
          background-color: red;
          color: white;
        }

        .createbtn{
          background-color:blue;
          color:white;
          text-align: center;

        }
        .refreshbtn{
          background-color:blue;
          color:white;
          text-align: center;

        }
        #map{
          height:575px;
          width:100%;
          margin-top: 50px;

        }

        .sort_form{
          margin: 50px;
          text-align: center;

        }
        table.center {
          margin-left: auto;
          margin-right: auto;
        }

        .container{
            text-align: center;
            margin: 100px;
        }



        h1 {
          text-align:center;
          margin: 100px;
        }

      </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>
    <body>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method ="GET">
          {% csrf_token %}
          <input class="form-control mr-sm-2" name="word" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

      {% block body %}
      {% endblock %}

    </body>
</html>
