{% extends "nest_tasca/layout.html" %}



{% block body %}

    <h1>Search Results</h1>

    <br><br><br><br>



    <table class = "center" cellpadding="10" cellspacing ="20" border ="1">
      <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Address</th>
        <th>Rating</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for tasca in tascas %}
      <tr>
        <td>
          <img src="{{tasca.image_link}}" width="20"/>
        </td>
        <td>{{tasca.name}}</td>
        <td>{{tasca.address}}</td>
        <td>{{tasca.rating}}</td>
        <td>
          <a href="{% url 'edit_tasca_page' tasca.id %}">
            <button class="editbtn">Edit</button>
          </a>
        <td>
          <a href="{% url 'delete_tasca' tasca.id %}">
            <button class="deletebtn">Delete</button>
          </a>
      </tr>
      {% endfor %}
    </table>


    {{message}}




{% endblock %}
