{% extends "nest_tasca/layout.html" %}
{% load static %}




{% block body %}

    {% block script %}
        <script type="text/javascript" src="{% static 'net_tascas/app.js' %}"></script>
    {% endblock %}



    <h1>Tasca</h1>

    <br><br><br><br>

    <table class ="center" cellpadding="10" cellspacing ="20" border ="1">
      <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Address</th>
        <th>Rating</th>
        <th>Edit</th>
      </tr>
      <tr>
        <td>
          <img src="{{tasca.image_link}}" width="20"/>
        </td>
        <td>
          {{tasca.name}}
        </td>
        <td>{{tasca.address}}</td>
        <td>{{tasca.rating}}</td>
        <td>
          <a href="{% url 'edit_tasca_page' tasca.id %}">
            <button class="editbtn">Edit</button>
          </a>
        <td>
          <a href="{% url 'delete_tasca' tasca.id %}">
            <button class="deletebtn">Delete</button>
          </a>
      </tr>
    </table>


    <div id="map"></div>


    <script>
      geocode("{{tasca.address}}");
    </script>


    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_CABT_sxyUu0GdDf7t1e4ueRv6XNyIkU&">
    </script>





{% endblock %}
